/* Navbar.css */
.navbar-icon {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio intact */
}

.navbar-brand {
    margin-left: 3rem;
}

.nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
}

.login-btn {
    margin-right: 3rem;
    font-weight: bold;
    border: 1px solid white;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
    margin-right: 3rem;
    font-weight: bold;
    background-color: white;
    color: black;
}

.navbar-toggler {
    border-color: white; /* Makes the border of the toggle button white */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Makes the lines of the toggle icon white */
}
